
    .paper {
      margin-top: 8px;
      display: flex;
      flex-direction: column;
      align-items: center,
    }
    .avatar {
      margin: 1px;
      background-color : red !important;
    }
    .form {
      width: 100%;
      margin-top : 1px,
    }
    .submit{
      margin: 3px 0px 5px !important,
    }