.bar{
  /* fill: rgb(105, 194, 66); */
  /* fill:rgb(238, 210, 2); */
  fill:rgb(38, 185, 154);
  opacity: 0.7;
}

.bar:hover{
  opacity: 0.4;
}

.axis {
  font: 10px sans-serif;
}

.axis path{
  fill: none;
  stroke: #adb2b5;
  shape-rendering: crispEdges;
}
.y line {
  fill: none;
  stroke: #adb2b5;
  shape-rendering: crispEdges;
}

.x line {
  fill: none;
  stroke:none;
  shape-rendering: crispEdges;
}



.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: #2A3F54;
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

text{
  fill: rgb(115, 135, 156);
}

.revenuetooltip{
  padding: 0px !important;
}
.tooltip{
  padding: 0px !important;
}

.padding{
  padding: 15px !important;
  color:white !important;
}
.loader{
  margin-left:130px; 
}

.country-name {
  margin: 0 !important;
}
.queens { background: rgb(100, 187, 227);}
.kings { background: rgb(238, 210, 2);}
.bronx { background: rgb(105, 194, 66);}

.key-dot {
  display: inline-block;
  height: 10px;
  margin-right: .5em;
  width: 10px;
  font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
}

#legend2{
  overflow:hidden;
  padding-left: 30%;
  padding-bottom: 3%;
}
.legend2 {
  float:left;
  padding-right: 6%;
}