@import "./Constants/color.scss";

.ag-grid-table {
  .ag-header {
    background-color: $primaryColor;
    color: $white;
  }
  .ag-header-group-cell {
  }
  .ag-header-group-cell::after {
    border-right: 1px solid $white;
  }
  .ag-header-cell {
    border-top: 1px solid $white;
  }
  .ag-header-cell::after {
    border-right: 1px solid $white;
  }
  .ag-icon {
    color: $white;
  }
  .ag-center-cols-container:nth-child(0){
    border-color: $lightBlue;
    background-color: $lightBlue;
  }
  .fa-arrow-up {
    color: $green;
    margin-left: 5px;
  }
  .fa-arrow-down {
    color: $red;
    margin-left: 12px;
  }
}
